*.o
*.moc
*.pyc
*.exe
*.dll
*.so
*.a
.~lock*
*~
*.cmake
!script/FindMinuit2.cmake
.directory
*.kate-swp
Debug/*
Release/*
ui/*.h
script/hermelin
perf.data
perf.data.old
gmon.out
script/tokens.h
script/script.tab.cc
script/script.cc
script/.clang/*
script/.codelite/*
script/Debug/*
script/Release/*
script/CMakeFiles/*
script/CMakeCache.txt
script/Makefile
.clang/*
.codelite/*
.settings/*
CMakeFiles/*
CMakeCache.txt
cmake_install.cmake
Makefile
build/*
script/build/*
externals/**
